In [1]:
import pandas as pd

# Load the CSV dataset with numeric values
df = pd.read_csv("SMOTEofNumeric.csv")

# Define reverse mappings for each non-numeric column
reverse_education_mapping = {
    1: "Bachelor's",
    2: "High School",
    3: "PhD",
    4: "Master's",
    
}

reverse_employment_mapping = {
    1: "Full-time",
    2: "Part-time",
    3: "Unemployed",
    4: "Self-employed",
   
}

reverse_marital_status_mapping = {
    1: "Single",
    2: "Married",
    3: "Divorced",
    
}

reverse_has_mortgage_mapping = {
    0: "No",
    1: "Yes",
}

reverse_has_dependents_mapping = {
    0: "No",
    1: "Yes",
}

reverse_loan_purpose_mapping = {
    1: "Other",
    2: "Auto",
    3: "Business",
    4: "Education",
    5: "Home",
    
}

reverse_has_co_signer_mapping = {
    0: "No",
    1: "Yes",
}

# Apply the reverse mappings to the respective columns
df['Education'] = df['Education'].map(reverse_education_mapping)
df['EmploymentType'] = df['EmploymentType'].map(reverse_employment_mapping)
df['MaritalStatus'] = df['MaritalStatus'].map(reverse_marital_status_mapping)
df['HasMortgage'] = df['HasMortgage'].map(reverse_has_mortgage_mapping)
df['HasDependents'] = df['HasDependents'].map(reverse_has_dependents_mapping)
df['LoanPurpose'] = df['LoanPurpose'].map(reverse_loan_purpose_mapping)
df['HasCoSigner'] = df['HasCoSigner'].map(reverse_has_co_signer_mapping)

# Save the modified dataset with string values back to a new CSV file
df.to_csv("SMOTEFINAL.csv", index=False)

# Display the first few rows of the modified dataset
df.head()

,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,18,137576,209136,846,26,2,10.47,60,0.81,High School,Self-employed,Single,Yes,No,Business,No,0
1,47,57194,5970,748,30,2,19.72,36,0.73,High School,Unemployed,Divorced,No,Yes,Education,No,0
2,26,84328,95065,453,7,2,24.25,12,0.45,Master's,Self-employed,Married,No,No,Other,Yes,0
3,53,49795,229582,533,107,3,14.44,60,0.17,Bachelor's,Self-employed,Single,Yes,No,Auto,Yes,1
4,49,115450,22072,840,0,4,24.48,12,0.11,Bachelor's,Part-time,Single,No,Yes,Education,Yes,0